.testing {
    width: percentage(5/7);
}

.say-what {
    display: block;
    position: relative;
    background-color: red;
}

h1 {
    color: #0003cc;
}

p {
    font-size: 1.5rem;
    color: red;
    font-style: italic;
}

